
* {
    font-family: "Poppins", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    color: rgb(65, 65, 65);
    font-size: 30px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.add-server {
    width: 200px;
}

.server {
    width: 250px;
}

.case {
    border: 5px solid rgb(19, 144, 211);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text {
    text-align: center;
}

.add-server {
    align-items: center;
    display: flex;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-server button {
    border: 5px solid grey;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.separator {
    margin-right: 10px;
    margin-left: 10px;
    height: 5px;
    width: 100%;
    background-color: rgb(19, 144, 211);
    border-radius: 50px;
    border: none;
}

.server input {
    margin-bottom: 5px;
}

.server-btn {
    margin: 5px;
}

input[type="checkbox"] {
    transform: scale(1.2);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;
}
